.App {
  text-align: center;
  background-color: #9162bd;
  color: #3b3a30;
  min-height: 100vh;
}

html {
  background: #282c34;
}

img {
  width: auto;
  height: fit-content;
}

.navTitle {
  margin-bottom : -3em;
}

.App-header {
  background-color: #32365a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  border-style: solid;
  border-color: #38e471;
  border-left: hidden; 
  border-right: hidden; 
  border-top: hidden; 


  color: #3b3a30;
}

.searchForm{
  color: #3b3a30;
}

.setCardList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  justify-content: center;
  align-items: flex-start;
}

.setCard {
  width: 350px;
  height: auto;
}
.setCard p {
  font-size: medium;
}
.cardTitles {
  font-weight: bold;
}
.video-link {
  color: #a85bf0;
  text-decoration: none;
}
.video-link:hover {
  color: "#3b3a30"
}

fieldset {
  border-left : hidden;
  border-right : hidden;
  font-size: 20px;
}

.addSetDropdownBox {
  margin-bottom: 1rem;
}


/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
  
  img {
    width: auto;
    height: 200px;
  }
  
}